<f:spaceless>
  <f:format.raw>
    <f:format.json
      value="{
        type: 'application',
        properties: {
            id: file.uid,
            type: file.type,
            filename: file.name,
            title: file.title,
            description: file.description,
            mimetype: file.mimetype,
            publicUrl: '{f:uri.typolink(parameter: file.publicUrl, absolute: absolute)}',
            creationTime: '{f:if(condition: file.creationTime, then: \'{file.creationTime -> f:format.date(format: settings.dateTimeFormat)}\')}',
            modificationTime: '{f:if(condition: file.modificationTime, then: \'{file.modificationTime -> f:format.date(format: settings.dateTimeFormat)}\')}'
        }
      }"/>
  </f:format.raw>
</f:spaceless>
