<f:spaceless>
    <f:if condition="{audio.autoplay}">
        <f:then>
            <f:variable
                name="autoplay"
                value="true"
            />
        </f:then>
        <f:else>
            <f:variable
                name="autoplay"
                value="false"
            />
        </f:else>
    </f:if>
  <f:format.raw>
    <f:format.json
      value="{
        type: 'audio',
        properties: {
            id: audio.uid,
            type: audio.type,
            filename: audio.name,
            title: audio.title,
            description: audio.description,
            mimetype: audio.mimetype,
            source: '{f:uri.typolink(parameter: audio.publicUrl, absolute: absolute)}',
            autoplay: '{autoplay -> headless:format.json.decode()}',
            creationTime: '{f:if(condition: audio.creationTime, then: \'{audio.creationTime -> f:format.date(format: settings.dateTimeFormat)}\')}',
            modificationTime: '{f:if(condition: audio.modificationTime, then: \'{audio.modificationTime -> f:format.date(format: settings.dateTimeFormat)}\')}'
      }}"/>
  </f:format.raw>
</f:spaceless>
