<f:spaceless>
  <f:format.raw>
    <f:format.json
      value="{
        type: 'pdf',
        properties: {
            id: pdf.uid,
            type: pdf.type,
            name: pdf.name,
            title: pdf.title,
            description: pdf.description,
            mimetype: pdf.mimetype,
            publicUrl: '{f:uri.typolink(parameter: pdf.publicUrl, absolute: absolute)}',
            creationTime: '{f:if(condition: pdf.creationTime, then: \'{pdf.creationTime -> f:format.date(format: \\\'Y-m-d\ H:i:s\\\')}\')}',
            modificationTime: '{f:if(condition: pdf.modificationTime, then: \'{pdf.modificationTime -> f:format.date(format: \\\'Y-m-d\ H:i:s\\\')}\')}'
        }
      }"/>
  </f:format.raw>
</f:spaceless>
