<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:format.raw>
        <f:if condition="{settings.excludeAlreadyDisplayedNews}">
            <f:then>
                <n:format.nothing>
                    <n:excludeDisplayedNews newsItem="{newsItem}"/>
                </n:format.nothing>
            </f:then>
        </f:if>
        <f:format.json value="{
                detail: {
                    uid: newsItem.uid,
                    title: newsItem.title,
                    teaser: newsItem.teaser,
                    isTopNews: newsItem.istopnews,
                    bodytext: '{newsItem.bodytext -> f:format.html(parseFuncTSPath: \'lib.parseFunc_links\')}',
                    crdate: '{f:if(condition: newsItem.crdate, then: \'{newsItem.crdate -> f:format.date(format: settings.dateFormat)}\')}',
                    tstamp: '{f:if(condition: newsItem.tstamp, then: \'{newsItem.tstamp -> f:format.date(format: settings.dateFormat)}\')}',
                    datetime: '{f:if(condition: newsItem.datetime, then: \'{newsItem.datetime -> f:format.date(format: settings.dateFormat)}\')}',
                    archive: '{f:if(condition: newsItem.archive, then: \'{newsItem.archive -> f:format.date(format: settings.dateFormat)}\')}',
                    author: {
                      author: newsItem.author,
                      authorEmail: newsItem.authorEmail
                    },
                    media: '{f:render(partial: \'Files\', arguments: \'{files: newsItem.media, view: \\\'detail\\\'}\') -> headless:format.json.decode()}',
                    falRelatedFiles: '{f:render(partial: \'Files\', arguments: \'{files: newsItem.falRelatedFiles, view: \\\'detail\\\', type: \\\'relatedFiles\\\'}\') -> headless:format.json.decode()}',
                    categories: '{f:render(partial: \'Categories\', arguments: \'{categories: newsItem.categories}\') -> headless:format.json.decode()}',
                    tags: '{f:render(partial: \'Tags\', arguments: \'{tags: newsItem.tags}\') -> headless:format.json.decode()}',
                    metaData: {
                      keywords: newsItem.keywords,
                      description: newsItem.description,
                      alternativeTitle: newsItem.alternativeTitle
                    },
                    pathSegment: newsItem.pathSegment,
                    canonical: '{f:uri.page(pageUid: newsItem.canonical, additionalParams: \'{tx_news_pi1: \\\'{news: newsItem.uid, action: \\\\\\\'detail\\\\\\\', controller: \\\\\\\'News\\\\\\\'}\\\'}\')}',
                    backLink: '{f:translate(key: \'back-link\', extensionName: \'news\')}'
                },
                settings: {
                  templateLayout: settings.templateLayout,
                  action: 'detail'
                },
                contentElements: '{f:render(partial: \'ContentElements\', arguments: \'{contentElementIdList: newsItem.contentElementIdList}\') -> headless:format.json.decode()}'
                }"/>
    </f:format.raw>
</f:spaceless>
